*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.details{
    margin-left: 8%;
    margin-top: 13%;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.details p{
    color: #555;
    line-height: 22px;
}

.details a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
footer {
    background-color: #333; /* Set your desired background color */
    color: white; /* Set your desired text color */
    padding: 20px;
    text-align: center;
  }
  
  .icons {
    display: flex;
    justify-content: center;
  }
  
  .icons a {
    margin: 0 10px;
    color: white; /* Set your desired icon color */
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Add more specific styling for each social media icon if needed */
  .icons a:hover {
    color: #55acee; /* Set your desired hover color */
  }
  